<h1>Your Pintexts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>User Email</th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= pin.user.email if pin.user %></td>
        <td style="padding-right: 3px; padding-left: 3px; padding-bottom: 3px; "><%= link_to 'Show', pin, class: "btn btn-success" %> </td>
        <% if pin.user ==current_user %>
        <td style="padding-right: 3px; padding-left: 3px; padding-bottom: 3px; "><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-info" %></td>
        <td style="padding-right: 3px; padding-left: 3px; padding-bottom: 3px; "> <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'You are about to DELET your Pintext, Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Pintext', new_pin_path, class: "btn btn-info" %>
<% end %>
